<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pcs3853.entregameupacote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.splash_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.novo_cadastro"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.menu_usuario"
            android:label="@string/title_activity_tela_inicial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login_usuario"
            android:label="@string/title_activity_tela_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.nova_entrega"
            android:label="@string/title_activity_nova_entrega_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.confirma_entrega"
            android:label="@string/title_activity_confirma_entrega"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.finaliza_entrega"
            android:label="@string/title_activity_finaliza_entrega"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.historico_entregas"
            android:label="@string/title_activity_historico_entregas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.detalhe_entrega"
            android:label="@string/title_activity_detalhe_entrega"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.config_usuario"
            android:label="@string/title_activity_config_usuario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>